.app {
  .header {
    background-color: var(--background-secondary);
    padding-block: 1rem;
  }

  .main {
    .container {
      padding-block: 2.5rem;
      padding-inline: clamp(1rem, 5vw, 3rem);
    }
  }
}
